<tr>
  <td><%= task.name %></td>
  <td><%= task.description %></td>

  <td><%= task.start_time %></td>
  <td><%= task.end_time %></td>

  <td><%= link_to 'Show', task %></td>
  <td><%= link_to 'Edit', edit_task_path(task) %></td>
  <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' , remote: true }, class: "deletetask" %></td>
</tr>
<br>