<p id="notice"><%= notice %></p>

<h1>Tasks</h1>

<%= month_calendar events: @tasks do |date, tasks| %>
  <%= date %>

  <% tasks.each do |task| %>
    <div>
      <%= task.name %>
    </div>
  <% end %>
<% end %>


<%= link_to 'New Task', new_task_path%>
