<p id="notice"><%= notice %></p>

<h1><%=t "headings.task" %></h1>
  <table id="tasks">
  <thead>
  <tr>
    <th><%=t "tables.name" %></th>
    <th><%=t "tables.desc" %></th>

    <th><%=t "tables.start" %></th>
    <th><%=t "tables.end" %> </th>

    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <%= render @tasks %>
  </tbody>
</table>

<br>

  <div id="new-task">
<%= link_to 'New Task', new_task_path, remote: true%>
  </div>