
<div class =scroller>
  <% if user_signed_in? %>
    <% @tasks = Task.all%>

    <%= month_calendar attribute: :end_time, end_attribute: :end_time, events: @tasks do |date, tasks| %>
      <%=date%>
      <% tasks.each do |task| %>
        <div class = simple-calendar>
          <%@proj = Project.find(task.project_id) %>
          <%if @proj.user_id==current_user.id%>
            <%= link_to task.name, task %>
            <%= link_to @proj.name, @proj%>
            </div>
            </div>
          <%end %>
      <% end %>
    <% end %>
  <%end %>

  <table>
    <thead>
    <tr>
      <th>Name</th>
      <th>Code</th>
      <th>Description</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <%@projects = Project.all  %>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.name %></td>
        <td><%= project.code %></td>
        <td><%= link_to 'Show', project %></td>
        <td><%= link_to 'Edit', edit_project_path(project) %></td>
        <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <br>


  <%= link_to 'Project Management services', projects_url%>
