<%if user_signed_in? %>
<%= form_with(model: project) do |form| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, :required => true %>
  </div>

  <div class="field">
    <%= form.label :code %>
    <%= form.text_field :code, value: SecureRandom.uuid%>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, placeholder: "enter a description"%>
  </div>

  <div class="field">
    <%= form.hidden_field :user_id, value: current_user.id, :required => true  %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>

  <% end %>
<%end %>