<p id="notice"><%= notice %></p>

<h1><%= t "headings.project" %></h1>

<table id ="projects">
  <thead>
    <tr>
      <th><%= t "tables.name" %></th>
      <th><%= t "tables.code" %></th>
      <th><%= t "tables.desc" %></th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  <%=render @projects %>
  </tbody>
</table>

<br>
<div id="new-project">
<%= link_to 'New Project', new_project_path, remote:true %>
</div>



