<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Code:</strong>
  <%= @project.code %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>


<div class =scroller>
  <% if user_signed_in? %>
    <% @tasks = Task.all%>

    <%= month_calendar attribute: :end_time, end_attribute: :end_time, events: @tasks do |date, tasks| %>
      <%=date%>
      <% tasks.each do |task| %>
        <div class = simple-calendar>
          <%if @project.id == task.project_id %>

            <%= link_to task.name, task %>
            </div>
            </div>
          <%end %>
      <% end %>
    <% end %>
  <%end %>

  <%= link_to 'Manage tasks', tasks_url %>
<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Home', home_path %>

